@use "../../../../assets/scss/variables" as v;

.mobile-app{
    background-image: linear-gradient(v.$color4, v.$color3);
    padding: 5rem;

    .store{
        display: flex;
        justify-content: space-between;

        @media (max-width: 500px) {
            img{
                width:150px;
                height: auto;
            }
        }

        @media (max-width: 350px) {
            img{
                width:120px;
                height: auto;
            }
        }
    }

    [class^="col-"]:last-child{
        text-align: right;

        @media (max-width: 767px) {
            text-align: center;
        }
    }
}